@font-face {
	font-family: garnity;
	src: url(../fonts/garnity.woff);
}

html {
	box-sizing: border-box;
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background: hsl(261deg, 43%, 35%);
	font-family: garnity;
}

iframe {
	border: none;
}

.background-video {
	position: absolute;
	width: 100vw;
	min-height: 100vh;

	opacity: 0;
	animation: fade-in 2s linear;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

.matchup-box {
	position: relative;
	margin: auto;
	width: 90%;
	height: 90%;

	animation: hover 10s ease-in-out infinite;
}

.matchup-box.corner {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50vmin;
	height: 50vmin;
	transition: left 1s, right 1s, margin 1s, width 1s, height 1s;
}

.header {
	position: absolute;
	background: #9147ff;
	width: 100%;
	padding: 0.5vmin 1.3vmin 0.2vmin 1.5vmin;
	z-index: 1;
	box-sizing: border-box;

	font-size: 5vmin;
	font-weight: bold;
	letter-spacing: 0.3vmin;
	color: white;
	/* text-shadow: -3px 3px #6441A4, -2px 2px #6441A4, -1px 1px #6441A4; */
	filter: drop-shadow(-1px 1px #6441A4) drop-shadow(-2px 2px #6441A4) drop-shadow(-3px 3px #6441A4);
}

.header.next-up {
	top: 0;
	text-align: left;
}

.branding {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0.5vmin 1.3vmin 0.2vmin 1.5vmin;
	z-index: 1;
	box-sizing: border-box;

	font-size: 5vmin;
	font-weight: bold;
	letter-spacing: 0.3vmin;
	color: #6441A4;
	/* text-shadow: -3px 3px #6441A4, -2px 2px #6441A4, -1px 1px #6441A4; */
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes hover {
	0% {
		transform: translate(0, 2.5vmin);
	}

	50% {
		transform: translate(0, 1vmin);
	}

	100% {
		transform: translate(0, 2.5vmin);
	}
}
