@font-face {
	font-family: garnity;
	src: url(../fonts/garnity.woff);
}

html {
	box-sizing: border-box;
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	color: #9147ff;
	font-family: garnity;
}

.background-logo {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-left: 2.5vmin;

	filter: drop-shadow(-1px 1px #6441A4) drop-shadow(-2px 2px #6441A4) drop-shadow(-3px 3px #6441A4);

	background: url(core-cast-empty.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.info-container {
	display: grid;
	margin: auto;
	width: 55.2vmin;
	transform: translate(-0.2vmin, 0.8vmin);
	grid-template-columns: 45% 10% 45%;
	grid-template-rows: 7% 26% 11% 3% 10% 10% 10% 10% 10% 10%;
	grid-auto-flow: column;
	z-index: 1;
}

.info-container i {
	font-size: 5vmin;
	margin: auto;
	letter-spacing: 0.4vmin;
}

.team-name {
	font-size: 5vmin;
	font-weight: bold;
	letter-spacing: 0.2vmin;
	margin: auto;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.team-name.left {
	position: relative;
	left: 3vmin;
	text-align: center;
	margin: auto;
}

.team-name.right {
	position: relative;
	right: 3vmin;
	text-align: center;
	margin: auto;
}

.record {
	width: 100%;
	font-size: 3vmin;
	font-weight: bold;
	letter-spacing: 0.4vmin;
	margin: auto;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.5vmin 0 0.2vmin 0;
	background: #9147ff;
	color: white;
}

.record.left {
	position: relative;
	left: 3vmin;
	text-align: center;
	margin: auto;
}

.record.right {
	position: relative;
	right: 3vmin;
	text-align: center;
	margin: auto;
}

.player {
	font-size: 3vmin;
	letter-spacing: 0.1vmin;
	margin: auto;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.left {
	margin-right: 1vmin;
	text-align: right;
}

.right {
	margin-left: 0.5vmin;
	text-align: left;
}
